body{
    background-color: #DDC9BC;
}
/* nav */
nav{
    position: fixed;
    width: 15%;
    height: 100%;
    left: 0%;
    top: 0%;
    background: #8E7C68;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    width: 100%;
    line-height: 300%;
    text-align: center;
    font-size: 125%;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}
nav ul li a:hover{
    color: #FFFFFF;
    background: #C4B3A0;
}
nav img{
    position: absolute;
    width: 55%;
    height: 15%;
    top: 5%;
    left: 23%;
}
.nav-menu{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 35%;
}
.here{
    color: black;
    background-color: rgba(0, 0, 0, 0.250);
}
.nav-username{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 19%;
    text-align: center;
    font-size: 125%;
    color: #FFFFFF;
}


/* profile page */
.page{
    position: absolute;
    width: 85%;
    height: 100%;
    left: 15%;
    top: 0%;
    background: #DDC9BC;
}
.profile{
    position: absolute;
    width: 22%;
    height: 8%;
    left: 39%;
    top: 5%;

    background: #FFDC9F;
    box-shadow: 2px 3px 14px 4px rgba(76, 88, 109, 0.75);
    border-radius: 100px;
}
.profile > h1{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 200%;
    text-align: center;
    color: #ED7458; 
}
.post{
    position: absolute;
    width: 45%;
    height: 65%;
    left: 27.5%;
    top: 20%;

    background: #FFDC9F;
    border-radius: 50px;
}
.namebox{
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 8%;
    left: 45%;
    top: 5%; 
    background: #FFFFFF;
    border-radius: 20px;
}
.namebox > p{
    position: absolute;
    width: 100%;
    left: 25%;
    font-size: 130%;
    line-height: 10%;
    color: #000000;
}
.namebox > h2{
    position: absolute;
    width: 100%;
    left: -60%;
    font-size: 130%;
    line-height: 45%;
    color: #000000;
}

.emailbox{
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 8%;
    left: 45%;
    top: 9%; 
    background: #FFFFFF;
    border-radius: 20px;
}
.emailbox > p{
    position: absolute;
    width: 100%;
    left: 5%;
    font-size: 130%;
    line-height: 10%;
    color: #000000;
}
.emailbox > h2{
    position: absolute;
    width: 100%;
    left: -60%;
    font-size: 130%;
    line-height: 45%;
    color: #000000;
}
.phonebox{
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 8%;
    left: 45%;
    top: 13%; 
    background: #FFFFFF;
    border-radius: 20px;
}
.phonebox > p{
    position: absolute;
    width: 100%;
    left: 29%;
    font-size: 130%;
    line-height: 10%;
    color: #000000;
}
.phonebox > h2{
    position: absolute;
    width: 100%;
    left: -60%;
    font-size: 130%;
    line-height: 45%;
    color: #000000;
}
.descriptionbox{
    box-sizing: border-box;
    position: relative;
    width: 50%;
    height: 45%;
    left: 45%;
    top: 17%; 
    background: #FFFFFF;
    border-radius: 20px;
}
.descriptionbox > p{
    position: absolute;
    width: 100%;
    left: 24%;
    font-size: 130%;
    line-height: 10%;
    color: #000000;
}
.descriptionbox > h2{
    position: absolute;
    width: 100%;
    left: -60%;
    font-size: 130%;
    line-height: 45%;
    color: #000000;
}
.edit{
    position: absolute;
    width: 30%;
    height: 10%;
    left: 10%;
    bottom: 0%;
    text-align: center;
}
.disconnect{
    position: absolute;
    width: 30%;
    height: 10%;
    left: 60%;
    bottom: 0%;
    text-align: center;
}
button{
    background-color: #8E7C68;
    width: 100%;
}
button > p{
    position: relative;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    color: #ED7458;
    background-color: #8E7C68;
}

/* profile page */

/* to do */
@media screen and (max-width: 900px) {
    body {
        background-color: #DDC9BC;
        margin: 0; 
      }
    .nav-username{
        display: none;
    }
      
      nav {
        position: fixed;
        width: 100%;
        height: 10%; 
        top: 0;
        left: 0;
        background: #8E7C68;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        z-index: 1;
      }
      
      nav ul {
        list-style: none;
        padding: 0;
        margin: -2%;
        display: flex; 
        bottom: 10%;
      }
      
      nav ul li {
        line-height: 60px; /* Change line-height to match the height of the menu */
        margin: 0 20px; /* Add some margin to the menu items for spacing */
      }
      
      nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;

      }
      
      nav ul li a:hover {
        color: #FFFFFF;
        background: #C4B3A0;
      }

        nav img{
        width: 0%;
        height: 0%;
        }
    .nav-menu{
        position: absolute;
        width: 100%;
        left: 0%;
        top: 35%;
    }
    .here{
        color: black;
        background-color: rgba(0, 0, 0, 0.250);
    }
    .page{
        width: 100%;
        left: 0%;
        top: 6%;
    }
    .profile{
        width: 40%;
        left: 30%;
    }
    .profile > h1{
        width: 100%;
        height: 100%;
        font-size: 175%;
        text-align: center;
        color: #ED7458; 
    }
    .post{
        width: 80%;
        left: 10%;
    }
    .emailbox > p{
        position: relative;
        top:50%;
        left: 7.5%;
        font-size: 100%;
    }
    .phonebox > p {
        position: relative;
        width: 100%;
        left: 25%;
        font-size: 100%;
        top: 50%;
        line-height: 10%;
        color: #000000;
    }
    .namebox > p {
        position: relative;
        width: 100%;
        left: 25%;
        font-size: 100%;
        line-height: 10%;
        top: 50%;
        color: #000000;
    }
    .edit{
        position: absolute;
        width: 30%;
        height: 10%;
        left: 20%;
        bottom: 10%;
    }
    .delete{
        position: absolute;
        width: 30%;
        height: 10%;
        left: 50%;
        bottom: 10%;
        text-align: center;
    }
    .childprofilepic{
       display: none;
    }
    .button{
        border-radius: 20px;
        color: #fff;
        margin-top: 18px;
        padding: 10px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
    .edit {
        position: absolute;
        width: 30%;
        height: 10%;
        left: 15%;
        bottom: 8%;
        text-align: center;
    }
    .disconnect {
        position: absolute;
        width: 30%;
        height: 10%;
        left: 55%;
        bottom: 8%;
        
    }
    button{
        width: 100%;
        background-color: #8E7C68;
    }
    .descriptionbox > p {
    position: relative;
    width: 100%;
    left: 24%;
    font-size: 100%;
    line-height: 10%;
    color: #000000;
    top: 10%;
}
    .descriptionbox {
        box-sizing: border-box;
        position: relative;
        width: 50%;
        height: 30%;
        left: 45%;
        top: 17%;
        background: #FFFFFF;
        border-radius: 20px;
    }

}

    
